.transitiondec3s{
    transition: .3s ease;
}
.scaledec1{
    transform: scale(1);
}
.scaledec1:hover{
    transform: scale(1.1);
}
.scaledec1:active{
    transform: scale(1);
}
.blueshadow{
}
.blueshadow:hover{
    box-shadow: 0 0 20px 1px #1992d4;
}